.nav>li>a {
padding: 15px 34px;
}


@media (max-width: 1199px)
{
	.nav>li>a {
		padding: 15px 17px;
	}


}
/**/


@media (max-width: 991px)
{
	.navbar-default .navbar-nav>li>a {
	font-size: 13px;
	}

	.nav>li>a {
		padding: 15px 5px;
	}

}
/**/
