* { 
	margin: 0; 
	padding: 0; 
}
@font-face {
	font-family: 'Open Sans';
	src: url('../../fonts/OpenSans-Semibold.eot');
	src: url('../../fonts/OpenSans-Semibold.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/OpenSans-Semibold.woff') format('woff'),
		url('../../fonts/OpenSans-Semibold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
} 
#page-wrap {
	margin: 50px;
}
p {
	margin: 20px 0; 
}

	/* 
	Generic Styling, for Desktops/Laptops 
	*/
	table { 
		width: 100%; 
		border-collapse: collapse; 
	}
	/* Zebra striping */
	tr:nth-of-type(odd) { 
		/*background: #f1f1f1*/; 
	}
	th { 
		background: #f1f1f1; 
		color: #959393; 
		  font-family: 'Open Sans'; font-size:16px;
	}
	td, th { 
		padding: 6px; 
		border: 1px solid #e3e1e1; 
		text-align: center;  font-weight:normal; border-top:0px;
	}
	td{ font-size:12px; color:#969696;  font-family: 'Open Sans';}
	td a{  color:#969696}